h1 {
  font-family: "Asimovian", system-ui, sans-serif;
font-weight: bold;
  border-style: solid;
  border-width: 2px;
  border-top-color: red;
  border-right-color: green;
  border-bottom-color: blue;
  border-left-color: purple;
  font-size:  80px;
  background-color: black;
  color: white;
  padding: 25px;
text-align: center;
}

#first, #second, #third {
font-weight: bold;
text-align: center;
color: white;
  border: 3px solid white;
  margin:  50px;
  padding: 50px;
  background-color: black;
}

#lorem1, #lorem2, #lorem3 {
    font-weight: normal;
    background-color: black;
}

.valorant, .overwatch, .minecraft {
  width: 600px;
}

body {
  animation: rotate-bg-color 10s infinite;
  font-family: "Bitcount Grid Double", system-ui, sans-serif;
  font-weight: 100; /* use 100–900 */
}


@keyframes rotate-bg-color {
  0% {
    background-color: steelblue;
  }
  20% {
    background-color: red;
  }
  40% {
    background-color: orange;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: blue;
  }
}

a {
  font-size: 50px;
  text-align: center;
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;
  background-color: black;
}

a:hover {
  background-color: gray; 
  border: 3px solid white;
  transform: scale(0.9);
}